.receipt {
    background-color: #cbddd1;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw;
    padding: 3vw;
    margin-top: auto;
    border: #a6a6a6 solid 1px;
}

.receipt-header {
    height: 7%;
    width: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.items {
    width: 100%;
    height: 80%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    overflow: scroll;
}

.totals {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 10vh;
    margin-top: 2vh;
    /* outline: black 1px solid; */
}

.receipt-tax-tip {
    height: 46%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tax-tip {
    height: 100%;
    width: 48%;
    background-color: #FFFFF6;
}

.total {
    height: 46%;
    background-color: #FFFFF6;
    width: 70%;
}

.tax-tip, .total {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
}

.tax-tip p, .total p {
    padding-left: 7%;
    width: 100%;
}