.trip {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin: 2vh;
    height: 8vh;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trip-title {
    width: 72%;
    padding: 2vw;
    background-color: #f8f8e9;
    color: #7d9b76;
    overflow: hidden;
    border-radius: 15px;
}

.camera-icon {
    height: 8vh;
    background-color: #7d9b76;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.profiles{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}