.summary-container {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: center;
}

.summary {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 10;
    height: 40vh;
    width: 80%;
    margin-top: 50%;
    /* height: 20vh;
    width: 40vh;
    justify-content: center;
    align-items: center;
    display: flex; */
    outline: black 1px solid;
}

.summary-profile {
    height: 80%;
    aspect-ratio: 1/1;
    z-index: 15;
    background-color: #7d9b76;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .summary-name {

} */

.summary-header {
    height: 6vh;
    display: flex;
    align-items: center;
    padding: .5vh;
    /* height: 7%;
    width: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center; */
}
.summary-items {

}
.summary-name {

}
.summary-price{

}