.item {
    background-color: #FFFFF6;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    border-radius: 15px;
    margin: 1%;
}

.item-name {
    width: 60%;
    margin-left: 5%;
}

.item-price {
    width: 20%;
    text-align: right;
}

.item-dropdown {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}