.split-menu {
    height: 20vh;
    width: 100%;
}

.profiles{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
    height: 5vh;
}

.split-button {
    border-radius: 15px;
    width: 30%;
    background-color: #7d9b76;
    color: #FFFFFF;
    padding: 1%;
}